.main-wrapper{
	margin: 20px auto;
	width: 600px;
	text-align: center;
}

.order-status-wrapper {
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
}

.order-status-wrapper .col-md-3 {
	margin: 10px 0;
}

.order-status-block {
	width: 100%;
	margin: 10px 0;
	pointer-events: none;
}